<div class="o-cookiepolicy">
        <div class="o-cookiepolicy__terms">
            <p class="o-cookiepolicy__terms__disclaimer">
            	{{$ctrl.text1}}
                <a href="${cookieUrl}" class="o-cookiepolicy__terms__disclaimer__link">{{$ctrl.cookie}}</a>
                {{$ctrl.text2}}
                <a href="${privacyUrl}" class="o-cookiepolicy__terms__disclaimer__link">{{$ctrl.privacy}}</a>
            </p>
            <a href="#" class="o-cookiepolicy__terms__cta">{{$ctrl.accept}}</a>
        </div>
    </div>