
<div class="m-join-partner-lock-up o-container t-spacer--pl-na@md--down t-spacer--pr-na@md--down">
    <div class="${cs.backgroundColourClass} o-container t-spacer--pr-na" data-toolbar>
        <div class="o-row o-row--between-xs o-row--no-gutter">
            <a href={{$ctrl.parentpage}} class="e-link--plain e-link--fade o-row o-row--inline o-row--no-gutter o-row--nowrap o-row--middle-xs t-spacer--pt-xs t-spacer--pb-xs t-spacer--pt-sm@md t-spacer--pb-sm@md">
                <b class="o-icon o-icon--i-arrow-left t-spacer--mr-xs t-spacer--mr-sm@md" aria-hidden="true"></b>
                <b class="font--semibold m-toolbar__back-text">{{$ctrl.backbuttonlabel}}</b>
            </a>
        </div>
    </div>
</div>